/*
------------------------------
	Impromptu's
------------------------------
*/
.jqifade{
    position: absolute;
    background-color: #aaaaaa;
}
div.jqi{
    width: 400px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: #ffffff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eeeeee;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 7px;
}
div.jqi .jqicontainer{
    font-weight: bold;
}
div.jqi .jqiclose{
    position: absolute;
    top: 4px; right: -2px;
    width: 18px;
    cursor: pointer;
    color: #bbbbbb;
    font-weight: bold;
}
div.jqi .jqimessage{
    padding: 10px;
    line-height: 20px;
    color: #444444;
}
div.jqi .jqimessage p{
    margin-bottom:3px;
}
div.jqi .jqimessage input, div.jqi .jqimessage select{
    padding:1px;
}
div.jqi .jqibuttons{
    text-align: right;
    padding: 5px 0 5px 0;
    border-top: solid 1px #e8e8e8;
    background-color: #fefefe;
}
div.jqi button{
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #DDD;
    border: solid 1px #f4f4f4;
    color: #222;
    font-weight: bold;
    font-size: 12px;
    cursor:pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline:none;
}
div.jqi button:hover{
    border: solid 1px #999;
}
div.jqi button.jqidefaultbutton{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background:url("../images/action-arrow.gif") no-repeat scroll 91% 3px #545F6A;
    width:120px;
    color:#FFF;
}
div.jqi button.jqidefaultbutton:hover{
    background:url("../images/action-arrow.gif") no-repeat scroll 91% -37px #ECECEC;
    color:#444;
}
.jqiwarning .jqi .jqibuttons{
    background-color: #BF5E26;
}